<div class="row">
    <div class="span3">
        <h5><a href="#">Разработка сайтов</a></h5>
        <ul class="unstyled">
            <li><a href="@Url.Content("~/Admin/Db/Create")">Наши работы</a></li>
            <li><a href="#">Корпоративные порталы</a></li>
            <li><a href="#">Система управления сайтом</a></li>
        </ul>
    </div>
    <div class="span3">
        <h5><a href="#">Системная интеграция</a></h5>
        <ul class="unstyled">
            <li><a href="#">Системная интеграция</a></li>
            <li><a href="#">Корпоративные порталы</a></li>
            <li><a href="#">Контроль качества</a></li>
        </ul>
    </div>
    <div class="span3">
        <h5><a href="#">Компания</a></h5>
        <ul class="unstyled">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Наши клиенты</a></li>
            <li><a href="#">Контактная информация</a></li>
        </ul>
    </div>
    <div class="span3">
        <h5>Звоните:</h5>
        <p>+7 (495) 983-01-14<br />
        +7 (812) 578-77-69</p>
        <h5>Пишите:</h5>
        <p><a href="#">info@inln.ru</a></p>
    </div>
</div>