<div class="row">
    <div class="span12">
        <h3><a href="#">Наш Twitter</a></h3>
    </div>
    <div class="span3">
        <p><a href="#">31.05.2013</a></p>
        <p>а еще наша кузница выковала мобильную версию сайта для одного из лидеров по предоставлению временного персонала</p>
        <p><a href="#">http://t.co/HZ1wjHbDVC</a></p>
    </div>
    <div class="span3">
        <p><a href="#">31.05.2013</a></p>
        <p>сделали магазин для самых маленьких и любимых членов каждой семьи</p>
        <p><a href="#">http://t.co/HZ1wjHbDVC</a></p>
    </div>
    <div class="span3">
        <p><a href="#">31.05.2013</a></p>
        <p>запустили полноценный каталог одежды для британского универмага Debenhams в Москве</p>
        <p><a href="#">http://t.co/HZ1wjHbDVC</a></p>
    </div>
    <div class="span3">
        <p><a href="#">31.05.2013</a></p>
        <p>реализовали модуль регистрации корреспонденции на SharePoint для одной из ведущих агропромышленных компаний - Мираторг</p>
        <p><a href="#">http://t.co/HZ1wjHbDVC</a></p>
    </div>
</div>

<hr />