@model inln_bootstrap.Areas.Admin.Models.MainPageModel

@{
    ViewBag.Title = "Inln";
}

@section slider
{
    @Html.Partial("_Slider", Model.Projects)
}

@section clients
{
    @Html.Partial("_Clients", Model.Clients)
}

@section departments
{
    @Html.Partial("_Departments")
}

@section twitter
{
    @Html.Partial("_Twitter")
}

<h2>O компании</h2>
<p>Компания Инлайн предлагает полный комплекс услуг по разработке Internet-сайтов, корпоративных порталов, приложений Facebook и информационных систем на основе новейших технологии Microsoft - ASP.NET, SharePoint и Silverlight. Уже 6 лет мы предлагаем нашим клиентам новейшие технологии Microsoft и отлаженное управление проектами по стандартам PMI. Это позволяет нам в кратчайшие сроки разрабатывать надежные Internet-решения и информационные системы любой сложности, работающие 24 часа 7 дней в неделю. Для ведения современного, высокодоходного и эффективного бизнеса очень важны надежность и качество Internet решений. Именно это и отличает Microsoft ASP.NET. А Microsoft SharePoint является фактическим стандартом при создании корпоративных порталов. Нашей компанией разработано более 150 Internet-сайтов и корпоративных информационных систем для клиентов по всей России и за ее пределами. Наши работы и отзывы клиентов вы можете посмотреть в портфолио. Технология Microsoft ASP.NET – самая современная платформа для решения стратегических задач вашего бизнеса. При разработке сайтов на ASP.NET вы получаете более производительное, масштабируемое, защищенное и устойчивое в работе решение. При создании ASP.NET учитывались возможности масштабируемости, специально разработанные для улучшения производительности в разветвленных многопроцессорных средах и серверных кластерах. Для компаний среднего и малого бизнеса исключительно важным является скорость возврата инвестиций. В этом еще одно из серьезных преимуществ разработки сайтов на ASP.NET – внедрение в сжатые рамки сроков и бюджета проекта.</p>