<header>
    <div class="container">
        <div class="row clearfix">
            <div class="logo span3">
                <a class="logo__link" href="@Url.Content("~/Admin")">Admin</a>
            </div>
    
            <div class="nav span9">
                <ul class="nav__list clearfix">
                    <li class="nav__item"><a class="nav__link" href="@Url.Content("~/Admin/Client")">Клиенты</a></li>
                    <li class="nav__item"><a class="nav__link" href="@Url.Content("~/Admin/Project")">Проекты</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>