@{
    ViewBag.Title = "Контактная информация";
}

<h2>Контактная информация</h2>
<p>Дополнительную информацию о ценах и услугах вы можете получить в наших офисах.</p>
<address>
    <strong>ООО "Инлайн"</strong><br />
    <b>Телефон:</b> +7 (495) 983-01-14<br />
    <b>Web:</b> <a href="http://www.inln.ru">www.inln.ru</a><br />
    <b>E-mail:</b> <a href="mailto:info@inln.ru">info@inln.ru</a><br />
    <b>Skype:</b> <a href="skype:inln.ru?call">inln.ru</a><br />
    <b>E-Адрес:</b> 127051, г. Москва, ул. Трубная, дом 32, строение 4.
</address>

<p><img src="@Url.Content("~/content/images/map-1.jpg")" width="940" height="450" alt="" /></p>

<hr />

<address>
    <strong>Дополнительный офис в г. Санкт-Петербург</strong><br />
    <b>Телефон:</b> +7 (812) 578-77-69<br />
    <b>E-mail:</b> <a href="mailto:spb@inln.ru">spb@inln.ru</a><br />
    <b>E-Адрес:</b> г. Санкт-Петербург, Невский проспект, дом 51.
</address>

<p><img src="@Url.Content("~/content/images/map-2.jpg")" width="940" height="450" alt="" /></p>